PredatorUnitFrames/embed/**/*
!PredatorUnitFrames/embed/.gitkeep

# The following stuff is Github's default .gitignore for Lua projects.
# Most of that stuff is completely irrelevant for WoW addons, I just keep
# them for good measure, if some Lua tool (linter, ...) create those temporary
# files in any case.

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

